* {
    /*border: 1px solid red;
    background-color: #C4A484;
    color: white;*/
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    height: 100vh;
    width: auto;
    background: #C4A484;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    gap: 10px;
    padding: 10px 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.recipe-button {
    background-size: cover;
    background-position: center;
    height: 25vh;
    width: 25vh;
    border: 2px solid black;
    border-radius: 30px;
    box-shadow: 0px 0px 5px black;
    color: rgba(255,255,255,0);
    font-size: 30px;
}

.recipe-button:hover {
    transform: scale(1.1);
    text-shadow: 1px 1px 2px #000000;
    color: rgba(255,255,255,1);
}

#one {
    background-image: url("./img/penne.jpg");
    transition: all 500ms;
}

#two {
    background-image: url("./img/meatonthebone.jpg");
    transition: all 500ms;
}

#three {
    background-image: url("./img/flan.jpg");
    transition: all 500ms;
}